* {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* src/App.css */

body {
    font-family: "Raleway", sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}

header {
    display: flex;
}



/* Color theme */
:root {
    --white: #fff;
    --dark: #262525;
    --beige-dark: #895224;
    --beige: #c79f7a;
    --green-med: rgb(156, 190, 156);
    --green-light: #b6c199;
    --text-light: #F6F9F6;
    --text-dark: #585656;




    --periwinkle: #7d94b5;
    --dusty-rose: #c29591;
    --maroon-brown: #703f37;

}